body,
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}

.navigation-menu {
  display: none;
}

a {
  transition: 0.5s ease;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  padding-bottom: 200px;
  height: 100%;
}

.logo {
  margin-bottom: 20px;
}

.logo a {
  display: block;
  text-align: center;
  padding: 0 20px;
}

.logo a img {
  width: 100%;
}

.nav-sidebar {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
  max-height: 100%;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.nav-sidebar>li>a {
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  padding: 10px 15px 10px 30px;
  border-right: 0px solid transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: black;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
}

::selection {
  color: #ffffff;
  text-shadow: none;
}

.main {
  padding: 0 !important;
}

.home {
  background-size: cover !important;
  position: relative;
  height: 100vh;
  width: 100%;
}

.home-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.home-content {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.home-intro {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  padding: 0 60px;
}

.home-intro h1 {
  font-size: 60px;
  font-weight: bold;
}

.home-intro h2,
.home-intro span {
  font-size: 35px;
}

.home-intro h1,
.home-intro h2,
.home-intro span {
  color: black;
  text-transform: uppercase;
}

h2 {
  line-height: 38px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.type-wrap {
  margin: 30px 0;
}

.scroll-down {
  text-align: center;
  width: 34px;
  height: 58px;
  display: inline-block;
  border-radius: 20px;
  border: 3px solid black;
  position: absolute;
  left: 50%;
  bottom: 60px;
  margin-left: -17px;
  line-height: 50px;
}

.scroll-down i {
  font-size: 8px;
  color: black;
  display: inline-block;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(15px);
  }
}

section {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  z-index: 10;
  background: white;
}

.container-section {
  padding: 0 60px;
}

.container-section:before {
  display: table;
  content: "";
}

.section-title {
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

.section-title h4 {
  background: white none repeat scroll 0 0;
  color: black;
  display: inline-block;
  font-weight: 600;
  line-height: 40px;
  margin: 0;
  padding: 0 30px;
  position: relative;
  text-transform: uppercase;
}

.section-title:before {
  border-top: 3px solid black;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.profile-img {
  display: block;
  border: 1px solid;
  padding: 3px;
}

.profile-pic img {
  width: 100%
}

.info {
  text-align: center;
  font-size: 18px;
  margin-top: 27px;
}

.info-block {
  margin-bottom: 28px;
}

.info-icon {
  height: 57px;
  width: 57px;
  float: left;
}

.info-icon i {
  color: white;
  font-size: 20px;
  padding: 20px;
}

.info-text {
  padding-left: 70px;
  font-size: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.info-text span {
  display: block;
  margin-bottom: 7px;
}

.social-profile {
  margin-bottom: 30px;
}

.social-profile span {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.social-profile a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  color: black;
  margin-right: 8px;
}

.about-information p {
  margin-bottom: 15px;
  font-size: 20px;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section-header p {
  font-size: 20px;
}

.section-header h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.timeline>li {
  overflow: hidden;
  margin-bottom: 50px;
}

.timeline>li .timeline-item h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
}

.timeline>li .timeline-item span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.timeline>li .timeline-item {
  width: 25%;
  padding-left: 15px;
  float: left;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  width: 1px;
  left: 25%;
  top: -50px;
  bottom: -100px;
  background: black;
}

.timeline>li .timeline-item:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid black;
  transition: all .3s ease;
  z-index: 100;
  margin-left: -6px;
  border-radius: 50%;
}

.timeline>li .timeline-description {
  width: 70%;
  margin-left: 5%;
  padding-left: 25px;
  padding-right: 25px;
  float: left;
  position: relative;
}

.timeline>li .timeline-description h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .timeline:before {
    background-color: transparent;
  }

  .timeline>li {
    border-bottom: 1px solid black;
    padding-bottom: 25px;
  }

  .timeline>li .timeline-item {
    width: 100%;
  }

  .timeline>li .timeline-item:after {
    visibility: hidden;
  }

  .timeline > li .timeline-description {
    width: 100%;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}
}


footer {
  display: block;
}

#footer {
  position: relative;
  background-color: #f5f5f5;
  z-index: 10;
}

.go-top {
  width: 50px;
  height: 45px;
  position: absolute;
  top: -45px;
  line-height: 45px;
  right: 50px;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 100;
}

.go-top a {
  color: black;
  display: block;
}
